/* * {
	overflow: hidden;
} */

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	color: floralwhite;
	font-size: 2vw;

	white-space: block;

	overflow: hidden;
}

/* Effects and stuff */
.transbox {
	background-color: rgba(255, 255, 255, 0);
	-webkit-backdrop-filter: blur(1vw);
	backdrop-filter: blur(1vw);
	padding: 5vh 5vw;
	margin: auto;

	width: 80vw;
	height: 45vh;

	border-style: solid;
	border-radius: 2vw;
	border-width: 0.2vw;
	border-color: black;

	box-shadow: 0 0 0.75vw black;

	white-space: pre-line;
}

.doomdiv {
	padding: 0 0;
	margin: auto;

	width: 100%;
	height: 100%;
}

.editorDiv {
	display: none;

	background-color: rgba(255, 255, 255, 0);
	-webkit-backdrop-filter: blur(1vw);
	backdrop-filter: blur(1vw);
	padding: 2vh 5vw;
	margin: 1vh auto;

	width: 80vw;

	border-style: solid;
	border-radius: 2vw;
	border-width: 0.2vw;
	border-color: black;

	box-shadow: 0 0 0.75vw black;

	text-align: center;

	/* white-space: block; */
}
.inline {
	white-space: block;
	display: inline;
	margin: 0;
	padding: 0;
}

/* Text and other stuff */
.slidetitle {
	font-family: "SixtyFour", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	  "BLED" 0,
	  "SCAN" 0
	;

	color: rgb(255, 0, 0);
	font-size: 5vw;

	margin-top: 15vh;
	margin-bottom: 10vh;

	text-align: center;
	text-shadow: 0 0 1vw black;
}

.slidedata {
	margin-top: 0;
}